.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-container {
  max-width: 850px;
  margin: 0 auto;
}

.home-title {
  display: flex;
  justify-content: center;
  color: #ffaaa7;
  padding: 2rem;
}

.home-text {
  display: flex;
  justify-content: center;
  color: #98ddca;
  padding: 2rem;
}

.todo-title {
  display: flex;
  justify-content: center;
  color: #ffaaa7;
  padding: 2rem;
}

.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  padding: 5rem;
}

.todo {
  background-color: #d5ecc2;
  margin: 0.5rem;
  display: flex;
  font-size: 1.8rem;
  text-align: left;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.5rem;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.complete-btn {
  background-color: #98ddca;
  color: white;
  padding: 1rem;
  border: none;
}

.trash-btn {
  background-color: #ffaaa7;
  color: white;
  padding: 1rem;
  border: none;
}

.trash-btn:hover {
  background-color: #db8784;
}

.complete-btn:hover {
  background-color: #6bb5a1;
}
