.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-container {
  max-width: 1000px;
  margin: 0 auto;
}

.home-text {
  display: flex;
  justify-content: center;
  color: #3b88d1;
  padding: 2rem;
}

.todo-title {
  display: flex;
  justify-content: center;
  color: #3b88d1;
  padding: 2rem;
}

.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  padding: 5rem;
}

.todo {
  background-color: #fef9ef;
  margin: 0.5rem;
  display: flex;
  font-size: 1.8rem;
  text-align: left;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.5rem;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.complete-btn {
  background-color: #3b88d1;
  color: #fee440;
  padding: 1rem;
  border: none;
}

.trash-btn {
  background-color: #fee440;
  color: #3b88d1;
  padding: 1rem;
  border: none;
}
